
1. Hola Mundo/.bowerrc
*.json
*.js
*.properties
*.xml
2. CSS3NewRules/.bowerrc
/3. Ejercicio/nbproject/private/
/4. Primera web javascript/nbproject/private/
/Eventos_HTML5/nbproject/private/
/5. Eventos/nbproject/private/
/6. Videos/nbproject/private/