/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 sept. 2019, 21:02:28
    Author     : crhistian
*/

@charset "utf-8";

a{
  background-color: palegreen;
  transition: background-color .5s;
}

a:hover{
  background-color: gold;
}