/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 sept. 2019, 1:44:55
    Author     : crhistian
*/

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }


/*Fin del CSS reset*/


body{
  /*Reduce el tamaño*/
  font-size:65%;
  
  
}

h1{
  
  /*2.em: multiplicador de tamaño*/
  font:normal 2.6em Verdana, Geneva, sans-serif;
  background:-webkit-linear-gradient(top, #404fd2, paleturquoise);
  width: 35%;
  border-radius: 10px;
  border: #161c54 2px solid;
  margin: 25px auto;
  text-align: center;
  padding: 15px;
  color: white;
  box-shadow: #414779 8px 8px 10px;
  text-shadow: white 2px 2px 2px;
}

h2{
  font:bold 1.7em Verdana, Geneva, sans-serif;
  /*sentido horario*/
  padding: 5px 0 5px 35px;
}

section{
  width: 94%;
  border-top: 1px #593838 dashed;
  margin: 15px auto;
}

figure{
  float: left;
}

figure img{
  padding: 4px;
  background-color: #616161;
  border-radius: 15px;
  transition: transform 0.2s ease-in-out 0.1s;
  box-shadow: #593838 3px 3px 10px;
}

figure img:hover{
  transform:scale(1.1);
}

figcaption{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: center;
  margin-top: 8px;
}

footer{
  clear: both;
  padding-top: 100px;
}

footer p{
  font: 1.6em Georgia, "Times New Roman", Timea, serif;
  color: #929292;
  margin: 10px 15px;
}